@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&display=swap');

html {
  scroll-behavior: smooth;
}

.anek-latin-thin{
    font-family: "Anek Latin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.anek-latin-extralight{
    font-family: "Anek Latin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.anek-latin-light{
    font-family: "Anek Latin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.anek-latin-regular{
    font-family: "Anek Latin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.anek-latin-medium{
    font-family: "Anek Latin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.anek-latin-semibold{
    font-family: "Anek Latin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.anek-latin-bold{
    font-family: "Anek Latin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.anek-latin-extrabold{
    font-family: "Anek Latin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.card-glassmorphism {
  background: rgba(255, 255, 255, 0.1); /* Transparent background */
  backdrop-filter: blur(10px); /* Apply blur effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}

.ungu-gradient{
  background: rgb(82,43,91);
  background: linear-gradient(54deg, rgba(82,43,91,1) 0%, rgba(0,0,0,1) 100%);
}

.typing-effect-overlay {
  border-right: 2px solid white;
  white-space: nowrap;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: black;
  font-size: 4rem;
  transition: opacity 1s ease-out;
}

.overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 768px) {
  /* Responsif untuk layar kecil */
  .kiri {
      display: none;
  }
  .kanan {
      width: 100%;
  }
}